<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.wuyou.mapper.CollectMapper">
    <resultMap type="com.example.wuyou.model.entity.Collect" id="CollectMap">
        <result property="id" column="id" jdbcType="CHAR"/>
        <result property="userId" column="user_id" jdbcType="CHAR"/>
        <result property="jobId" column="job_id" jdbcType="CHAR"/>
        <result property="type" column="type" jdbcType="SMALLINT"/>
        <result property="createTime" column="create_time" jdbcType="DOUBLE"/>
    </resultMap>
</mapper>